.burial-data {
  padding: 2%;
}

.breed {
  padding: 2%;
}

.dates {
  padding: 2%;
}

.pet-card {
  margin: 2%;
  padding: 1%;
}

.pet-name {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  background-color: rgb(21, 21, 58);
}

.breed {
  font-size: 1rem;
  font-weight: bold;
}

// .pet-box {
//   flex-wrap: wrap;
// }

.pet-container {
  font-family: "Rubik", sans-serif;
  text-align: center;
  background-color: slategray;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}

.petCardImg {
  height: 300px;
  width: 300px;
  padding-top: 10%;
  border-radius: 10px;
}

.edit-pet {
  margin-right: 37%;
  border: 0px;
  color: rgb(21, 21, 58);
}

.delete-pet {
  margin-left: 37%;
  border: 0px;
  color: rgb(21, 21, 58);
}

