.burial-data {
  padding: 2%;
}

.breed {
  padding: 2%;
}

.dates {
  padding: 2%;
}

.pet-card {
  margin: 2%;
  padding: 1%;
}

.pet-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: rgb(21, 21, 58);
  padding: 2%;
}

.breed {
  font-size: 1rem;
  font-weight: bold;
}

.pet-container {
  font-family: "Rubik", sans-serif;
  text-align: center;
  width: 45%;
  background-color: slategray;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}

.petCardImg {
  height: 225px;
  width: 225px;
  padding-top: 10%;
  border-radius: 10px;
}

.pet-box {
  padding-bottom: 2%;
}

.edit-pet {
  padding-right: 42%;
  color: rgb(21, 21, 58);
}

.delete-pet {
  padding-left: 42%;
  color: rgb(21, 21, 58);
}
