.partners-admin-container {
  margin-top: 10%;
  text-align: center;
}

.backBtn {
  border-radius: 5px;
  background-color: rgb(21, 21, 58);
  color: white;
  margin-right: 90%;
  margin-bottom: 2%;
  margin-top: 10px;
  width: 10%;
  height: 40px;
  font-size: 7pt;
  padding: 4px;
  text-align: center;
}
