.productImage {
  height: 175px;
  width: 175x;
}

.productCard {
  border: 2px solid;
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
  background-color: slategray;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}

.product-card-header {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  background-color: rgb(21, 21, 58);
}
