.productImage {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  padding-bottom: 2%;
}

.productCard {
  border: 3px solid;
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
  background-color: slategray;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}

.product-card-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(21, 21, 58);
}

.card-body {
  cursor: pointer;
}

.product-details {
  border-radius: 5px;
  background-color: rgb(21, 21, 58);
  color: white;
  padding: 6px;
  text-align: center;
  width: 50%;
  font-size: 14pt;
}

.lnr-list {
  padding: 2%;
  padding-left: 8%;
}
