.login {
  margin-top: 1%;
}

body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("../Home/images/parting_pets_bkg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100%;
}

.homeLogo {
  margin-left: 35%;
  filter: drop-shadow(0 0 0.75rem blue);
}
