.userItems {
  margin-top: 5%;
}

.backBtn {
  border-radius: 5px;
  background-color: rgb(21, 21, 58);
  color: white;
  margin-right: 90%;
  margin-bottom: 2%;
  margin-top: 10px;
  width: 10%;
  height: 40px;
  font-size: 7pt;
  padding: 4px;
  text-align: center;
}

.addUserBtn {
  border-radius: 5px;
  background-color: rgb(21, 21, 58);
  color: white;
  margin-left: 90%;
  margin-top: 10px;
  width: 10%;
  height: 20%;
  font-size: 7pt;
  padding: 4px;
  text-align: center;
}

.table {
  background-color: rgb(21, 21, 58);
}
