// .shoppingCart {
//   padding: 120px 25px 0px 25px;
// }

// .cart-table {
//   background-color: rgba(168, 202, 241, 0.75);
//   color: black;
// }

.shoppingCart {
  padding: 120px 25px 0px 25px;
  // border: solid red 1px;
}

.cart-container {
  // border: solid black 2px;
  background-color: rgba(168, 202, 241, 0.75);
}

.cart-ul {
  list-style: none;
  padding-inline-start: 0px;
}
.cart-header-row {
  margin-bottom: 25px;
}
.cart-image {
  width: 125px;
  height: 125px;
}

.cart-totals {
  text-align: right;
}

.cart-totals-total h5 {
  font-weight: bold;
}

.cart-checkout-btn {
  padding-bottom: 10px;
}
