.navIcon {
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 5px;
}

.profIcon {
  height: 42px;
  border-radius: 8px;
}

.profBtn:hover {
  background: slategray;
}

.navBar {
  font-family: 'Rubik', sans-serif;
  font-size: 15pt;
}
