.navIcon {
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 5px;
}

.profIcon {
  height: 35px;
  border-radius: 8px;
}

i[class*='lnr-'] {
  font-size: 30px;
}

.profBtn:hover {
  background: slategray;
}

.navBar {
  font-family: 'Rubik', sans-serif;
  font-size: 15pt;
}

.petsNavLogo {
  height: 75%;
  width: 75%;
}
