.orderCard {
    border: 2px solid;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
    background-color:  rgba(168, 202, 241, 0.75);
}

// .billing-address {
//     float: left;
// }

// .order-summary {
//     float:right;
//align-self: end;
 // }

// h4 {
//     font-weight: bold;
// }

// .payment-method {
//     margin-top: 30px;
//     font-weight: bold;
// }

// .grand-total, .order-details-header {
//     font-weight: bold;
// }

.order-sum {
    align-self: flex-end;
    justify-content: end;
}
