.orderCard {
    border: 2px solid;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
    background-color:  rgba(168, 202, 241, 0.75);
}

h4 {
    font-weight: bold;
}

.payment-method {
    font-weight: bold;
}

.grand-total, .order-details-header, .column-headers {
    font-weight: bold;
}

.order-sum {
    align-self: flex-end;
    justify-content: end;
    padding-right: 5%;
}

.collapse-div {
    width: 100%;
    padding: 0 1% 0 1%;
}

.name-header {
    text-align: center;
}

.col-sm-8 {
    padding-left: 5%;
}


