.orderCard {
  border: 2px solid;
  border-radius: 10px;
  margin: 1%;
  padding: 1%;
  background-color: white;
  font-family: "Rubik", sans-serif;
}

.billing-address {
  float: left;
  padding-top: 1%;
  margin-top: 1%;
  padding: 1%;
}

.order-summary {
  float: right;
  padding: 2%;
  margin-right: 15%;
}

.order-header {
  background-color: rgb(21, 21, 58);
  color: white;
  padding: 1%;
  margin: 1%;
}

h4 {
  font-weight: bold;
}

.payment-method {
  font-weight: bold;
  margin-top: 15px;
}

.grand-total,
.order-details-header,
.column-headers {
  font-weight: bold;
}

.order-sum {
  align-self: flex-end;
  justify-content: end;
}

.collapse-div {
  width: 100%;
  padding: 0 1% 0 1%;
}

.col-sm-8 {
  padding-left: 5%;
}

.line-total {
  padding-right: 0%;
}

.petsOrderLogo {
  float: right;
  width: 10%;
  height: 10%;
}

.order-body {
  margin-top: 15px;
}
