.trash {
  color: rgb(21, 21, 58);
}

.pencil {
  color: rgb(21, 21, 58);
}

.header {
  background-color: rgb(21, 21, 58);
  color: white;
}

.edit-user {
  cursor: pointer;
}

.delete-user {
  cursor: pointer;
}

.deleted-user {
  color: red;
}

.user-item {
  background-color: rgb(21, 21, 58);
  color: white;
  font-size: 17px;
}
