.Profile {
  margin-top: 150px;
  font-family: "Rubik", sans-serif;
  //margin-left: -20%;
}

.profileCardImg {
  height: 81px;
  float: right;
}

.usr-btn {  
  margin: 0 5px;
  margin-bottom: 2%;
  margin-top: 10px;
  border: 0px;
  color: rgb(21, 21, 58);
}

// .usr-btn-edit-icon {
//   background-color: rgb(21, 21, 58);
// }

// .usr-btn-delete-icon {
//   background-color: rgb(21, 21, 58);
// }

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  background-color: rgb(21, 21, 58);
}

.addPetButton {
  border-radius: 5px;
  background-color: rgb(21, 21, 58);
  color: white;
  margin-left: 40%;
  margin-bottom: 2%;
  margin-top: 10px;
  width: 30%;
  height: 40px;
  font-size: 7pt;
  padding: 4px;
  text-align: center;
}

.add-pet-icon {
  margin-right: 5%;
}

.pets-container {
  display: flex;
  flex-wrap: wrap;
}

.paymentHeader {
  text-align: center;
  background: rgb(241, 243, 243);
}

.profileButtonDiv {
  display: flex;
}
