.Profile {
  margin-top: 150px;
}

.profileCardImg {
  height: 35px;
  float: right;
}

.usr-btn {
  margin: 0 5px;
}

.usr-btn-edit-icon {
  color: greenyellow;
}

.usr-btn-delete-icon {
  color: tomato;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  background-color: rgb(21, 21, 58);
}
