.cart-del-button {
  padding-left: 0px;
}

.cart-qty-select {
  width: 75px;
  background: none;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.cart-col {
  align-self: center;
}

.cart-col-unitPrice h5 {
  font-weight: bold;
}

.cart-col-unitPrice {
  text-align: right;
}
