.addPaymentButton {
  border-radius: 5px;
  background-color: rgb(21, 21, 58);
  color: white;
  margin-right: 90%;
  margin-bottom: 2%;
  margin-top: 10px;
  width: 200px;
  height: 40px;
  font-size: 7pt;
  padding: 4px;
  text-align: center;
}

.add-payment-icon {
  margin-right: 5%;
}

.paymentSelect {
  margin-left: 10px;
}

.addPaymentButton {
  margin-left: 10px;
}
