.trash {
  color: rgb(21, 21, 58);
}

.pencil {
  color: rgb(21, 21, 58);
}

.partner-item-img {
  max-width: 100px;
  max-height: 100px;
}

.partner-item {
  font-size: 17px;
  background: linear-gradient(
    rgba(255, 255, 255, 255),
    rgba(255, 255, 255, 255)
  );
}

.name {
  vertical-align: middle;
  text-align: center;
  width: 30%;
  height: 30px;
  padding: 10px;
  font-size: 20px;
}

.description {
  vertical-align: middle;
  text-align: center;
  width: 30%;
  height: 50px;
  padding: 10px;
  font-size: 15px;
}

.header {
  background-color: rgb(5, 5, 29);
  color: white;
}

.street {
  background-color: rgb(21, 21, 58);
  color: white;
}

.city {
  background-color: rgb(21, 21, 58);
  color: white;
}

.state {
  background-color: rgb(21, 21, 58);
  color: white;
}

.zip-code {
  background-color: rgb(21, 21, 58);
  color: white;
}
.edit-partner {
  cursor: pointer;
}

.icons {
  background-color: rgb(21, 21, 58);
  color: white;
}

.delete-partner {
  cursor: pointer;
}

.deleted-partner {
  color: red;
}
