.lnr-arrow-left-circle {
  padding-right: 5px;
}

.item-detail {
  background-color: slategray;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  border: 5px solid rgb(21, 21, 58);
  margin-top: 10%;
  margin-bottom: 5%;
  padding: 4%;
  text-align: center;
}

.detailImage {
  width: 90%;
  padding-top: 1%;
  padding-bottom: 3%;
  border-radius: 10px;
}

.backToStore {
  border-radius: 5px;
  background-color: rgb(21, 21, 58);
  color: white;
  margin-left: 25%;
  margin-right: 25%;
  // height: 10%;
  // font-size: 7pt;
  padding: 4px;
  text-align: center;
  margin: 0px 25px;
}

// .card-body {
//   cursor: pointer;
// }
