.products {
  margin-top: 6%;
  font-family: "Rubik", sans-serif;
  text-align: center;
}

.productSearch {
  width: 40%;
  margin-left: 72%;
  padding: 0.75%;
  padding-bottom: 3%;
  border-radius: 10px;
  background-color: rgb(21, 21, 58);
}

#addProduct {
  margin-top: 0px !important;
  margin-left: 10px;
}

.productWrap {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 1%;
}

.react-search-field-input {
  border-radius: 5px;
}

.react-search-field-button {
  border-radius: 5px;
  background-color: white !important;
  margin-left: 5px;
}

.react-search-field {
  border-radius: 10px;
  border: none !important;
}
