.fa-plus-square {
  padding-right: 5px;
}

.addProductBtn {
  border-radius: 5px;
  background-color: rgb(21, 21, 58);
  color: white;
  margin-left: 90%;
  margin-top: 10px;
  width: 10%;
  height: 20%;
  font-size: 7pt;
  padding: 4px;
  text-align: center;
}

.partnerItems {
  padding: 5%;
  margin-top: 1%;
  font-family: "Rubik", sans-serif;
  text-align: center;
}

.header-table {
  background-color: slategray;
}
