#addProduct {
  margin-top: 0px !important;
  margin-left: 95%;
}

.fa-plus-square {
  padding-right: 5px;
}

.addProductBtn {
  border-radius: 5px;
  background-color: rgb(21, 21, 58);
  color: white;
  margin-left: 85%;
  width: 4%;
  height: 6%;
  font-size: 7pt;
  padding: 4px;
  text-align: center;
}
